.marker {
  font-size: 16px;
  height: 20px;
  width: 20px;
  border: red solid 3px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.marker:hover {
  cursor: pointer;
}